*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height:500px;
    width:500px;
    background-color: aqua;
   
}

.flower{
    position:absolute;
    border-radius: 0% 100% 0% 100% / 0% 100% 0% 100%;
    background-image: radial-gradient( circle 928px at 17.9% -6.7%,  rgba(255,0,0,1) 0%, rgba(0,0,255,1) 100.2% );    height: 100px;
    width: 100px;
    animation-name: flower;
    animation-duration: 3s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.f1{
    animation-delay: 1s;
}
.f2{
    animation-delay: 1.5s;
}
.f3{
    animation-delay: 2s;
}
.f4{
    animation-delay: 2.5s;
}
.f5{
    animation-delay: 3s;
}
.f6{
    animation-delay: 3.5s;
}
/* .flower:hover{
    transform: rotate(360deg);
    transition-property: transform;
    transition-duration: 2s;
    transition-timing-function: linear;
    transform-origin: left top;
} */

@keyframes flower{
    from{
        transform: rotate(0deg);
        transform-origin: top left;
    }
    to{
        transform: rotate(360deg);
        transform-origin: top left;
    }
}
